@import "tailwindcss";

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 
#tridiv {
  perspective: 450px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 35%;
  background: transparent;
  font-size: 105%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff;
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
  border-radius: 10px;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:20.5em;
  height:0.625em;
  margin:-0.3125em 0 0 -10.25em;
  border-radius: 10px;
}
.cub-1 .ft {
  transform:translateZ(7.375em);
  border-radius: 10px;
}
.cub-1 .bk {
  transform:translateZ(-7.375em) rotateY(180deg);
  border-radius: 10px;
}
.cub-1 .rt, .cub-1 .lt {
  width:14.75em;
  height:0.625em;
  border-radius: 10px;
}
.cub-1 .tp, .cub-1 .bm {
  width:20.5em;
  height:14.75em;
  border-radius: 10px;
}
.cub-1 .face {
  background-color:transparent;
  border-radius: 10px;
  box-shadow: 2px 10px 12px #3e3e3e;
}